body {
  background: #fff;
  margin-top: 60px;
  margin-bottom: 60px;
}

#content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-card {
  border: 1px solid black;
  background: papayawhip;
  width: 300px;
  min-width: 100px;
  border-radius: 8px;
  margin: 8px;
  padding: 8px;
}